<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>button counter component</title>
</head>
<body>
  <div id="app">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>

  <script>
    Vue.component( 'button-counter',{
      data: function () {
        return {
          count: 0
        }
      },
      template: `
        <button @click="count++">你点击了：{{ count }}</button>
      `
      
    })

    var app = new Vue({
      el: '#app'
    })
  </script>
</body>
</html>