<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <my-component warning-text="提示信息">

    </my-component>
  </div>
  <script>
    Vue.component('my-component', {
      props: ['warningText'],
      template: '<div> {{ warningText }} </div>'
    })
    var app = new Vue({
      el: '#app'
    })
  </script>
</body>
</html>