<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <title>计算属性、指令开发购物车</title>
</head>
<body>
  <div id="app" v-cloak>
    <template v-if="list.length">
      <table>
        <thead>
          <th>
            <input id="checkAll" type="checkbox" @click="handleSelectAll" :checked="isSelectAll()">
          </th>
          <th>编号</th>
          <th>商品名称</th>
          <th>商品单价</th>
          <th>购买数量</th>
          <th>操作</th>
        </thead>
        <tbody>
          <tr v-for="( item, index) in list">
            <td>
              <input type="checkbox" @click="handelChecked(index)" :checked="isChecked(index)">
            </td>
            <td> {{ index + 1 }} </td>
            <td> {{ item.name }}</td>
            <td> {{ item.price }}</td>
            <td>
              <button
                @click="handleReduce(index)"
                :disabled="item.count === 1"
              >-</button> 
              {{ item.count }}
              <button
                @click="handleAdd(index)"
              >+</button> 
            </td>
            <td>
              <button
                @click="handleRemove(index)"
              >移除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>总价：{{ totalPrice }} ￥</div>
    </template>
    <template v-else>购物车为空</template>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./index.js"></script>
</body>
</html>