<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Vue实现留言版</title>
</head>
<body>
  <!-- 使用v-model双向绑定
      v-for 循环输出列表
      unshift将新加进的信息排列在前面 -->
  <div id="app">
    <h2>留言版</h2>
    <input type="text" v-model="input">
    <button @click="btn">添加</button>
    <ul>
      <li v-for="(item,index) in list">{{ item }} 
          <button @click="del(index)">删除</button>
          <button @click="edit(index,item)">编辑</button>
      </li>
    </ul>
  </div>
  
  <script>
    
    var app = new Vue({
      el: '#app',
      data: {
        input: '',
        list: []
      },
      methods: {
        btn: function () {
          //尾部添加数据
          // this.list.push(this.input)
          
          //首部添加数据
          this.list.unshift(this.input)
          this.input = ''
        },
        del: function (index) {
          if (confirm('确认删除它吗')) {
            this.list.splice( index, 1 )
          } else {
            return
          }
        },
        edit: function (index,item) {
          this.list[index] = prompt('修改内容',item)
        }
      }
    })
    
  </script>
</body>
</html>